<div class="button">
    <button class="bt" routerLink="/addEmployee">Add New Employee</button>
  
  </div>
  <div id ="body" class="col-md-8 mt-4">
   
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                 
                </tr>
              </thead>
              <tbody>
                
                  <tr *ngFor="let employee of employees">
                      <td>{{employee.id}}</td>
                      <td>{{employee.first_name}}</td>
                      <td>{{employee.last_name}}</td>
                      <td>{{employee.email}}</td>    
                      <td><button class="button1" routerLink="/viewDetails/{{employee.id}}">View Details</button>
                      </td>
                  </tr>
                
              </tbody>
            </table>
  
      
  </div>